$console: #808082;
$textDark: #234361;
$text: #425A70;
$blue: #1070CA;
$gray: #212528;
$mediumGray: #464A4D;
$darkGray: #1E1E1E;
$lightBlue: #4DA8FF;
$lighterBlue: #DBEAF7;

$tablet: 768px;

$desktop: 960px;

$desktopWide: 1024px;